<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--HOME-->
    <!--<add name="MovieScheduleStatsEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQL2K8R2;initial catalog=MovieScheduleStats;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MovieScheduleStatsEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQL2K8R2;initial catalog=MSS_DEV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--WORK-->
    <!--<add name="MovieScheduleStatsEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MovieScheduleStats;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--LIVE-->
    <!--<add name="MovieScheduleStatsEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=67.205.74.253;initial catalog=MSS_DATA;user id=sa;password=Ev6a38g0743J;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <log4net debug="false">
    <appender name="DefaultCompleteAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\internal\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'00-00_flow_complete.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%level|%message%newline" />
      </layout>
    </appender>
    <appender name="ExceptionAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
      <file value="log\internal\" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'00-00_flow_exception.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%-5level|%message%newline" />
      </layout>
    </appender>
    <appender name="ErrorAppenderAfisha" type="log4net.Appender.RollingFileAppender" additivity="false">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Error" />
        <levelMax value="FATAL" />
      </filter>
      <file value="log\internal\" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'00-00_flow_error_afisha.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%-5level|%message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <encoding value="utf-8" />
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan,HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%.0exception%newline" />
      </layout>
    </appender>
    <appender name="KinopoiskAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\internal\" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'00-00_flow_complete_kp.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%level|%message%newline" />
      </layout>
    </appender>
    <appender name="MissingCinemaAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\internal\" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'00-00_missing_cinemas.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%level|%message%newline" />
      </layout>
    </appender>
    <appender name="ParseRunAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\internal\" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'00-00_parse_run.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%level|%message%newline" />
      </layout>
    </appender>
    <logger name="ParseRunLogger">
      <level value="ALL" />
      <appender-ref ref="ParseRunAppender" />
    </logger>
    <logger name="MissingCinemaLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="MissingCinemaAppender" />
    </logger>
    <logger name="KinopoiskLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="KinopoiskAppender" />
    </logger>
    <logger name="ErrorLoggerAfisha" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ErrorAppenderAfisha" />
    </logger>
    <!--<logger name="DefaultLogger">
      <level value="ALL" />
      <appender-ref ref="DefaultCompleteAppender" />
    </logger>-->
    <root>
      <priority value="ALL" />
      <appender-ref ref="DefaultCompleteAppender" />
      <appender-ref ref="ExceptionAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>
</configuration>