@model MovieSchedule.Web.Models.User.UserModel

@{
    ViewBag.Title = "Кабинет пользователя";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    @{
        if (ViewData.ContainsKey("Error"))
        {
        <div class="alert alert-danger" role="alert">@ViewData["Error"]</div>
        }
    }
    <div class="input-group">
        <span class="input-group-addon" style="width: 160px">Имя пользователя</span>
        <input type="text" class="form-control" placeholder="Username" value="@string.Format("{0} ({1})", Model.Username, Model.DistributorName)" disabled="disabled">
    </div>

    @*@using (Html.BeginForm("LogIn", "User", FormMethod.Post, new { @class = "form-signin" }))*@
    @using (Html.BeginForm())
    {
        <div class="input-group">
            <span class="input-group-addon" style="width: 160px">Электронная почта</span>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Электронная почта" })
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
    }                         
</div>
