@media (min-width: 980px) {
    body {
        /*padding-top: 60px;*/
        padding-bottom: 40px;
    }
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("/Content/images/glyphicons-halflings.png");
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.deviation {
    font-weight: bold;
    text-align: center;
}

.increase {
    color: #08D419;
}

.decrease {
    color: #ff0000;
}

#preloader {
    display: none;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -59px; /* -1 * image width / 2 */
    margin-top: -63px; /* -1 * image height / 2 */
}
